{% extends "templates/base.html" %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Status</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {% if rows|length < 1 %}
                <h5>This report contains no data</h5>
            {% else %}
            <table class="table table-bordered margin-v-medium">
                <thead class="thead-inverse">
                {%  set keyRow = rows.0 %}
                <tr>
                    {% for name, value in keyRow.items() %}
                        <th>{{ name }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>
                            {% for name, value in row.items() %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <nav>
            <ul class="pager">
                <li><a href="?page=1"><<</a></li>
                <li><a href="?page={{ page_number -1 }}"><</a></li>
                {% for number in range(page_number, number_of_pages + 1) %}
                    <li><a href="?page={{ number }}">{{ number }}</a></li>
                {% endfor %}
                <li><a href="?page={{ page_number -1 }}">></a></li>
                <li><a href="?page={{ number_of_pages }}">>></a></li>
            </ul>
        </nav>
    </div>
</div>
{% endblock %}
